.pokemon-item {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  width: 200px;
  position: absolute;
  z-index: 1;
  &:hover {
    > .overlay {
      opacity: 1;
      z-index: 3;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    position: relative;
    z-index: -1;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    width: 200px;
    h2 {
      margin: 0;
      color: white;
    }
    .button {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      a {
        margin-right: 5px;
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 70px;
        font-size: 12px;
        svg {
          background-color: unset;
          padding: 0;
          border-radius: unset;
          margin-right: 2px;
        }
      }
      svg {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}